In [28]:
# Importar las librerías a utilizar
import pandas as pd
from datetime import datetime
import numpy as np

In [64]:
# Cargar el .csv
df_accidentes = pd.read_csv("accidentes.csv")
df_accidentes.head()

,id,n_victimas,fecha,aaaa,mm,dd,hora,franja_hora,direccion,tipo_calle,...,rol,vehiculo_victima,sexo,edad,gravedad,moto,auto,transporte_publico,camion,ciclista
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00,5e-324,0.0,0.0,0.0,0.0
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00,5e-324,0.0,0.0,0.0,0.0
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00,5e-324,0.0,0.0,0.0,0.0
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,CONDUCTOR,MOTO,MASCULINO,18,SD,5e-324,0.0,0.0,0.0,0.0
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00,5e-324,0.0,0.0,0.0,0.0

# Fecha y Hora

Voy a conservar una columna con la fecha y una con la franja horaria.

In [65]:
# Revisar la columna de franja_horaria
df_accidentes["franja_hora"].describe()

count     28310
unique       26
top          17
freq       2032
Name: franja_hora, dtype: object

In [66]:
# Revisar la distribución de franja_horaria
df_accidentes["franja_hora"].value_counts()

franja_hora
17    2032
16    2006
14    1894
13    1857
12    1823
15    1811
18    1808
19    1562
11    1484
20    1360
9     1327
10    1300
8     1265
21    1158
0      946
22     920
7      878
23     700
6      565
1      445
5      386
2      293
4      253
3      233
sd       3
SD       1
Name: count, dtype: int64

In [67]:
# Cuento los nulos
df_accidentes["franja_hora"].isnull().sum()

5

Tengo 4 valores desconocidos y 5 nulos, voy a asignar los nulos a las 17 (5) los sd a las 16(3) y los SD a las 14 (1)

In [68]:
df_accidentes["franja_hora"].replace('sd', "16", inplace=True)
df_accidentes["franja_hora"].replace('SD', "14", inplace=True)
df_accidentes["franja_hora"].fillna("17", inplace=True)
df_accidentes["franja_hora"].describe()

count     28315
unique       24
top          17
freq       2037
Name: franja_hora, dtype: object

In [69]:
# Convertir la columna de franja_horaria a entero
df_accidentes["franja_hora"] = df_accidentes["franja_hora"].astype(np.int8)
df_accidentes["franja_hora"].describe()

count    28315.000000
mean        13.496733
std          5.634942
min          0.000000
25%         10.000000
50%         14.000000
75%         18.000000
max         23.000000
Name: franja_hora, dtype: float64

In [70]:
# Revisar la columna fecha
df_accidentes["fecha"].describe()

count                   28315
unique                   1695
top       2021-12-17 00:00:00
freq                       79
Name: fecha, dtype: object

In [71]:
# Contar los nulos
df_accidentes["fecha"].isnull().sum()

0

In [85]:
# Pasar a fecha los valores de la columna fecha
df_accidentes["fecha"] = pd.to_datetime(df_accidentes["fecha"], format='mixed')

In [86]:
# Normalizar los valores al formato que me agrade
df_accidentes["fecha"] = df_accidentes["fecha"].dt.strftime("%Y-%m-%d")

In [91]:
df_accidentes["fecha"].describe()

count          28315
unique          1446
top       2021-12-17
freq              79
Name: fecha, dtype: object

In [88]:
df_accidentes["fecha"].isnull().sum()

0

In [93]:
# Revisar la columna fecha
df_accidentes["fecha"].info

<bound method Series.info of 0        2016-01-01
1        2016-01-02
2        2016-01-03
3        2016-01-10
4        2016-01-21
            ...
28310    2021-12-31
28311    2021-12-31
28312    2021-12-31
28313    2021-12-31
28314    2020-05-17
Name: fecha, Length: 28315, dtype: object>

Por último voy a borrar las columnas con la fecha dividida y con la hora.

In [94]:
df_accidentes.columns

Index(['id', 'n_victimas', 'fecha', 'aaaa', 'mm', 'dd', 'hora', 'franja_hora',
       'direccion', 'tipo_calle', 'calle', 'altura', 'cruce',
       'direccion_normalizada', 'comuna', 'geocodificacion_CABA', 'longitud',
       'latitud', 'participantes', 'victima', 'acusado', 'rol',
       'vehiculo_victima', 'sexo', 'edad', 'gravedad', 'moto', 'auto',
       'transporte_publico', 'camion', 'ciclista'],
      dtype='object')

In [95]:
# Eliminar las columnas que ya no se necesitan
columnas_eliminar = ["aaaa", "mm", "dd", "hora"]
df_accidentes = df_accidentes.drop(columnas_eliminar,axis=1)

In [96]:
df_accidentes.columns

Index(['id', 'n_victimas', 'fecha', 'franja_hora', 'direccion', 'tipo_calle',
       'calle', 'altura', 'cruce', 'direccion_normalizada', 'comuna',
       'geocodificacion_CABA', 'longitud', 'latitud', 'participantes',
       'victima', 'acusado', 'rol', 'vehiculo_victima', 'sexo', 'edad',
       'gravedad', 'moto', 'auto', 'transporte_publico', 'camion', 'ciclista'],
      dtype='object')

In [97]:
# Guardar el csv parcial
df_accidentes.to_csv("accidentes_parcial.csv", index=False)

# Número de Víctimas

In [99]:
# Cargar el csv
df_accidentes = pd.read_csv("accidentes_parcial.csv")

In [100]:
# Revisar la columna n_victimas
df_accidentes["n_victimas"].describe()

count    28315.000000
mean         1.413350
std          1.076277
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         16.000000
Name: n_victimas, dtype: float64

In [101]:
# Contar los valores distintos de n_victimas
df_accidentes["n_victimas"].value_counts()

n_victimas
1     21707
2      4286
3      1200
4       472
5       330
6       126
8        80
7        42
10       40
16       32
Name: count, dtype: int64

In [102]:
# Contar los valores distintos de id
df_accidentes["id"].value_counts()

id
LC-2019-0291069    16
LC-2019-0188476    16
LC-2021-0137640    10
LC-2019-0049800    10
LC-2019-0428120    10
                   ..
LC-2019-0616801     1
LC-2019-0616592     1
LC-2019-0635165     1
LC-2019-0616529     1
LC-2020-0244615     1
Name: count, Length: 24477, dtype: int64

In [104]:
# Reviso el id puntual para ver que está pasando
df_accidentes[df_accidentes["id"] == "LC-2019-0291069"]

,id,n_victimas,fecha,franja_hora,direccion,tipo_calle,calle,altura,cruce,direccion_normalizada,...,rol,vehiculo_victima,sexo,edad,gravedad,moto,auto,transporte_publico,camion,ciclista
5172,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,SD,SD,SD,SD,x,SD,SD
5173,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,SD,SD,SD,SD,x,SD,SD
5174,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,54,SD,SD,SD,x,SD,SD
5175,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,35,SD,SD,SD,x,SD,SD
5176,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,63,SD,SD,SD,x,SD,SD
5177,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,22,SD,SD,SD,x,SD,SD
5178,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,22,SD,SD,SD,x,SD,SD
5179,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,30,SD,SD,SD,x,SD,SD
5180,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,39,SD,SD,SD,x,SD,SD
5181,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,SD,SD,SD,SD,x,SD,SD
5182,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,SD,SD,SD,SD,x,SD,SD
5183,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,SD,SD,SD,SD,x,SD,SD
5184,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,41,SD,SD,SD,x,SD,SD
5185,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,SD,SD,SD,SD,x,SD,SD
5186,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Mujer,SD,SD,SD,SD,x,SD,SD
5187,LC-2019-0291069,16,2019-05-10,7,"Goyena, Pedro Av. y Mitre, Emilio 0, Barrio: C...",SD,NaN,NaN,NaN,SD,...,0.0,sd,Varon,44,SD,SD,SD,x,SD,SD

#### Como realicé la unión de los datos, hay registros duplicados en las columnas con datos globales sobre el accidente.

#### No voy a hacer cambios sobre estos datos, pero debo recordar que si quiero obtener el número de víctimas para una categoría debo sumar registros y no sumar la columna de n_victimas.

# Dirección / Ubicación Geográfica

In [105]:
# Cargar el csv
df_accidentes = pd.read_csv("accidentes_parcial.csv")

In [108]:
# Reviso que datos hay en la columna de codificación
df_accidentes["geocodificacion_CABA"].head()

0      Point (98896.78238426 93532.43437792)
1      Point (95832.05571093 95505.41641999)
2     Point (106684.29090040 99706.57687843)
3      Point (99840.65224780 94269.16534422)
4    Point (106980.32827929 100752.16915795)
Name: geocodificacion_CABA, dtype: object

In [106]:
df_accidentes.columns

Index(['id', 'n_victimas', 'fecha', 'franja_hora', 'direccion', 'tipo_calle',
       'calle', 'altura', 'cruce', 'direccion_normalizada', 'comuna',
       'geocodificacion_CABA', 'longitud', 'latitud', 'participantes',
       'victima', 'acusado', 'rol', 'vehiculo_victima', 'sexo', 'edad',
       'gravedad', 'moto', 'auto', 'transporte_publico', 'camion', 'ciclista'],
      dtype='object')

De todas las columnas con información sobre el lugar del hecho, me voy a quedar con "tipo_calle", "direccion_normalizada", "comuna", "latitud" y "longitud".

In [109]:
df_accidentes["tipo_calle"].value_counts()

tipo_calle
SD           12879
AVENIDA       8251
CALLE         6323
GRAL PAZ       745
AUTOPISTA      117
Name: count, dtype: int64

In [110]:
df_accidentes["tipo_calle"].isna().sum()

0

tipo_calle está OK

In [113]:
df_accidentes["direccion_normalizada"].describe()

count     28253
unique     9261
top          SD
freq      12643
Name: direccion_normalizada, dtype: object

In [114]:
df_accidentes["direccion_normalizada"].isna().sum()

62

In [115]:
df_accidentes["direccion_normalizada"].fillna("SD", inplace=True)
df_accidentes["direccion_normalizada"].isna().sum()

0

dirección_normalizada está OK

In [116]:
df_accidentes["comuna"].value_counts()

comuna
1                  2931
15                 2237
4                  2213
9                  2150
3                  2003
14                 1840
7                  1817
12                 1750
11                 1645
13                 1590
10                 1568
8                  1420
5                  1400
6                  1104
2                  1021
SD                  936
No Especificada     510
0                     2
Name: count, dtype: int64

In [117]:
df_accidentes["comuna"].isna().sum()

178

Voy a juntar los valores "no Especificada", "0" y "nulos", todos en "SD"